<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2013 (http://www.altova.com) by  () -->
<tools grouporder="一起唱-工具">
	<tool>
		<parentID>-1</parentID>
		<ID>10</ID>
		<text>曲库信息统计</text>
		<tooltip>统计曲库各分类信息集</tooltip>                
	</tool>
	<tool>
		<parentID>-1</parentID>
		<ID>20</ID>
		<text>曲库查询</text>
		<tooltip>查询曲库信息</tooltip>                
	</tool>
        <tool>
			<parentID>20</parentID>
			<ID>200</ID>
                        <text>   歌曲查询</text>
			<tooltip>详细歌曲信息查询</tooltip>                
        </tool>
		<tool>
			<parentID>20</parentID>
			<ID>201</ID>
                        <text>   歌星查询</text>
			<tooltip>详细歌星信息查询</tooltip>                
        </tool>
	<tool>
		<parentID>-1</parentID>
		<ID>30</ID>
		<text>曲库上线管理</text>
		<tooltip>曲库上下线管理</tooltip>                
    </tool>
        <tool>
			<parentID>30</parentID>
			<ID>300</ID>
                        <text>   歌曲上线</text>
			<tooltip>歌曲上线</tooltip>                
        </tool>
		<tool>
                <parentID>30</parentID>
                <ID>301</ID>
                <text>   歌星上线</text>
                <tooltip>歌星上线</tooltip>                
        </tool>
	<tool>
                <parentID>-1</parentID>
                <ID>40</ID>
                <text>排行榜管理</text>
                <tooltip>排行旁管理</tooltip>                
    </tool>
        <tool>
                <parentID>40</parentID>
                <ID>400</ID>
                <text>   新歌榜</text>
                <tooltip>新歌榜</tooltip>                
        </tool>
        <tool>
                <parentID>40</parentID>
                <ID>401</ID>
                <text>   华语音乐榜</text>
                <tooltip>华语音乐榜</tooltip>                
        </tool>
		<tool>
                <parentID>40</parentID>
                <ID>402</ID>
                <text>   选秀热歌榜</text>
                <tooltip>选秀热歌榜</tooltip>                
        </tool>
		<tool>
                <parentID>40</parentID>
                <ID>403</ID>
                <text>   网络排行榜</text>
                <tooltip>网络排行榜</tooltip>                
        </tool>
		<tool>
                <parentID>40</parentID>
                <ID>404</ID>
                <text>   神曲嗨歌榜</text>
                <tooltip>神曲嗨歌榜</tooltip>                
        </tool>
		<tool>
                <parentID>40</parentID>
                <ID>405</ID>
                <text>   欧美音乐榜</text>
                <tooltip>欧美音乐榜</tooltip>                
        </tool>
		
        <tool>
                <parentID>-1</parentID>
                <ID>60</ID>
                <text>广告歌曲管理</text>
                <tooltip>广告歌曲管理</tooltip>                
        </tool>
		
	<tool>
                <parentID>-1</parentID>
                <ID>70</ID>
                <text>黑名单管理</text>
                <tooltip>黑名单管理</tooltip>
	</tool>
		<tool>
                <parentID>70</parentID>
                <ID>700</ID>
                <text>   歌曲黑名单</text>
                <tooltip>歌曲黑名单</tooltip>
        </tool>
		<tool>
                <parentID>70</parentID>
                <ID>701</ID>
                <text>   歌星黑名单</text>
                <tooltip>歌星黑名单</tooltip>                
        </tool>
        <tool>
                <parentID>-1</parentID>
                <ID>80</ID>
                <text>曲库更新</text>
                <tooltip>曲库更新</tooltip>
        </tool>
</tools>
